@model IEnumerable<DigitalEducation.Entities.Problem>
@{
    ViewData["Title"] = "Index";
}

<h1>Задания</h1>

<p>
    <a asp-action="Create">Создать новое задание</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subsection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolutionImageFile)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @if (item.ProblemImageFileId is not null)
                {
                    <img 
                        class="img-thumbnail" 
                        src="@Url.Action("GetImageById", "ImageFiles", 
                                 new { id = item.ProblemImageFileId})" 
                        alt="Изображение задания"
                        height="200"
                        width="200"/>
                }
                else
                {
                    <text>Не указано</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subsection!.Name)
            </td>
            <td>
                <img class="img-thumbnail" 
                     src="@Url.Action("GetImageById", "ImageFiles", new { id = item.SolutionImageFileId})" 
                     alt="Изображение задания"
                     height="200"
                     width="200"/>
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
