@model IEnumerable<DigitalEducation.Entities.Section>

@{
    ViewData["Title"] = "Разделы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Разделы</h1>

<p>
    <a asp-controller="Section" asp-action="New">Создать новый раздел</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-controller="Section" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
